.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 9px 14px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-family: var(--font-family);
    font-weight: 700;
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;

    +.wrapper {
        margin-left: 15px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}


.icon+.title,
.title+.icon {
    margin-left: 5px;
}

.icon {
    display: inline-block;
    width: 25px;
    text-align: center;
}

// Button types
.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background: #2980b9;
    }
}

.slideup {
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    &::after {
        content: "";
        position: absolute;
        height: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        border-radius: inherit;
        border-color: rgba(255, 255, 255, 0.15);
        background-color: rgba(255, 255, 255, 0.15);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    &:hover::after{
        height: 100%;
    }
}

.outline {
    color: var(--primary);
    border-color: currentColor;

    &:hover {
        border-color: currentColor;
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    >.title {
        color: var(--primary);
    }

    &:hover {
        text-decoration: underline;
        text-decoration-color: var(--primary);
    }
}
.loading{
    margin-left: 10px;
    background-color: transparent;
    animation: spinner 0.8s linear infinite;
}
@keyframes spinner {
    from {
        transform:  rotate(0);
    }
    to {
        transform:  rotate(360deg);
    }
}
// Button sizes
.small {
    min-width: 130px;
    height: 40px;
    padding: 4px 16px;
}

.large {
    padding: 14px 16px;
    min-width: 140px;
}