.content{
    margin: 0px auto;
    margin-bottom: 50px;
}
.banner{
    position: relative;
}
.image-cover{
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-top: 0;
    opacity: .9;
}
.heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
    color: var(--white);
    text-align: center;
}

.heading-main{
    font-size: 4.6rem;
    font-weight: 300;
    line-height: 6rem;
    word-spacing: 2rem;
    letter-spacing: 6px;
}

.description{
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2rem;
    word-spacing: 1rem;
    letter-spacing: 4px;
    margin-top: 30px;
}

.list-news{
    width: var(--width-layout);
    margin: 0 auto;
    padding: 20px 10px;
    display: flex;
    flex-direction: initial;
    flex-wrap: wrap;
}

.no-content{
    margin:20px auto;
    text-align: center;
    a{
        padding: 0px;
    }
}