.menu-list{
    width: 200px;
    .menu-popper{
        border-radius: 5px;
        padding: 10px 0;
        min-height: auto;
        max-height: 80vh;
    }
    .menu-item{
        margin-left: 0;
    }
}
.menu-popper{
    background-color: #fff;   
}

.menu-popper {
    padding-bottom: 8px;
}

.menu-body{
    overflow-y: auto;
}
// Menu items
.menu-item {
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    padding: 11px 16px;

    &.separate{
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.header{
    position: relative;
    height: 50px;
    margin-top: -8px;
    flex-shrink: 0;
}

.back-btn{
    height: 100%;
    width: 50px;
    background-color: transparent;
    cursor: pointer;
}

.header-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}