.content{
    margin: 0px auto;
    padding-bottom: 40px;
}

.heading{
    font-family: var(--font-family);
    font-size: 1.6rem;
    letter-spacing: 1px;
    word-spacing: 4px;
    font-weight: 300;
    color: var(--primary);
    text-align: center;
    padding: 2rem;
}
.heading-title{
    font-size: 3.2rem;
    font-weight: 500;
}

.container{
    width: calc(var(--width-layout) - 20px);
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
    background-color: #ECF0F1;
    display: flex;
}
.form-contact,.contact-info{
    padding: 30px;
    padding-top: 10px;
    border-radius: 10px;
}
.contact-info{
    width: 450px;
    color: var(--white);
    background: linear-gradient(328.76deg, rgba(87, 61, 159, 0.63) 2.75%, #180E89 98.14%);
}

.title{
    font-size: 3.2rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.contact-info .detail{
    width: 100%;
    margin: 20px 0;
}

.row{
    width: 100%;
    margin: 15px 0;
    h5{
        font-size: 2rem;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
    }
    .icon{
        font-size: 1.8rem;
        margin-right: 10px;
    }
    p{
        font-weight: 300;
    }
}

.follow-us{
    .links{
        display: flex;
        margin-top: 20px;
    }
    .icon{
        font-size: 3rem;
        margin-right: 15px;
    }
}

.form-contact{
    color: var(--primary);
    flex: 1;
    .body-form{
        font-size: 1.6rem;
        font-weight: 500;
    }
    .row{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
}

.row .colum{
    width: 48%;
}

.button-submit{
    font-size: 1.6rem;
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 20px;
    margin-left: 75%;
}