.card {
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 250px;
    max-width: 285px;
    min-height: 370px;
    max-height: 400px;
    width: 100%;
    background-color: #f6f6f6;
    color: var(--text-color);
    text-align: left;
    font-size: 1.6rem;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .actions {
        position: absolute;
        right: 10px;
        top: 10px;
        left: auto;
        z-index: 2;
    }
    .btn-edit,
    .btn-delete {
        position: relative;
        min-width: 30px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-left: 7px;
    }
    .btn-edit {
        color: var(--primary);
    }

    .btn-delete {
        color: red;
    }
    .btn-edit:hover,
    .btn-delete:hover {
        transform: scale(1.2);
    }
    .image {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    img {
        max-width: 100%;
        height: 100%;
        vertical-align: top;
        object-fit: cover;
    }

    figcaption {
        position: absolute;
        min-height: 190px;
        bottom: 10px;
        left: 10px;
        right: 10px;
        padding: 15px 15px 30px;
        background-color: var(--white);
    }

    .date {
        background-color: var(--primary);
        position: absolute;
        top: 15px;
        left: 15px;
        color: var(--white);
        min-height: 48px;
        min-width: 48px;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.card .date span {
    display: block;
    line-height: 2.4rem;
}

.card .date .month {
    font-size: 1.4rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.card h3,
.card p {
    margin: 0;
    padding: 0;
}

.card h3 {
    min-height: 50px;
    margin-bottom: 10px;
    margin-left: 60px;
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
}

.card p {
    font-size: 0.8em;
    margin-bottom: 20px;
    line-height: 1.6em;
}

.card footer {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    background-color: var(--primary);
    color: #e6e6e6;
    font-size: 1.4rem;
    line-height: 30px;
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.status {
    display: flex;
    align-items: center;
    span {
        margin-right: 5px;
    }
    svg {
        cursor: pointer;
    }
    svg:hover {
        transform: scale(1.1);
    }
}
.react {
    display: flex;
    div {
        margin-left: 15px;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
    }
    span {
        margin-left: 5px;
    }
}

.card a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 40px;
    position: absolute;
    z-index: 1;
}
.card:hover img {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

.loved {
    color: #c30a0a;
}

.marked {
    color: #02118e;
}

.Skeleton {
    min-width: 285px;
    .image {
        background: linear-gradient(
                100deg,
                rgba(255, 255, 255, 0) 30%,
                rgba(255, 255, 255, 0.5) 50%,
                rgba(255, 255, 255, 0) 70%
            )
            #f8e6ff;
        background-size: 200% 100%;
        background-position-x: 180%;
        animation: 1s skeleton ease-in-out infinite;
    }
    .date {
        background: linear-gradient(
                100deg,
                rgba(255, 255, 255, 0) 30%,
                rgba(255, 255, 255, 0.5) 50%,
                rgba(255, 255, 255, 0) 70%
            )
            #8086e5;
        background-size: 200% 100%;
        background-position-x: 180%;
        animation: 1s skeleton ease-in-out infinite;
    }
    .title {
        min-height: 50px;
        margin-bottom: 10px;
        margin-left: 60px;
        display: inline-block;
        width: 75%;
        background: linear-gradient(
                100deg,
                rgba(255, 255, 255, 0) 30%,
                rgba(255, 255, 255, 0.5) 50%,
                rgba(255, 255, 255, 0) 70%
            )
            #f8e6ff;
        background-size: 200% 100%;
        background-position-x: 180%;
        animation: 1s skeleton ease-in-out infinite;
    }
    .description {
        height: 20px;
        background: linear-gradient(
                100deg,
                rgba(255, 255, 255, 0) 30%,
                rgba(255, 255, 255, 0.5) 50%,
                rgba(255, 255, 255, 0) 70%
            )
            #f6deff;
        background-size: 200% 100%;
        background-position-x: 180%;
        animation: 1s skeleton ease-in-out infinite;
    }
    footer {
        height: 30px;
        background: linear-gradient(
                100deg,
                rgba(255, 255, 255, 0) 30%,
                rgba(255, 255, 255, 0.5) 50%,
                rgba(255, 255, 255, 0) 70%
            )
            #8086e5;
        background-size: 200% 100%;
        background-position-x: 180%;
        animation: 1s skeleton ease-in-out infinite;
    }
}

@keyframes skeleton {
    to {
        background-position-x: -20%;
    }
}

